span {
    font-family: 'Fjalla One', sans-serif;
}

/* Fitting Video inside div and responsiveness */
.container_video {
    margin: 0 auto;
    max-width:730px;
}

#container_captions {
    padding-left: 25px;
    padding-right: 25px;
}

#mainVideo {
    width:100%;
    height:auto;
}

/* Highlight */
.highlight {
    color: darkorange;
}

@media screen and (min-width: 768px) {
    #container_captions {
        max-width: 700px;
        margin: 0 auto;
    }
}
