/* Fitting Video inside div and responsiveness */
.container_video,
.container_subtitles {
    margin: 0 auto;
    max-width:730px;
}

#mainVideo {
    width:100%;
    height:auto;
}

/* captions styling */
.container_captions p {
    margin: 0 auto;
    max-width: 700px;
}

/* Highlight */
.highlight {
    color: darkorange;
}
